---
interface Props {
    title?: string;
    subtext?: string;
    id?: string;
    height?: string;
}

let { title, subtext, id, height } = Astro.props;
---

<section
    id={id}
    class=`py-16 min-h-[${height}] 2xl:min-h-[100vh] lg:min-h-[100vh]  d:px-10 z-1 rounded bg-green-50/50 flex flex-col justify-center items-center`
>
    {
        title && (
            <>
                <h1 class="text-4xl 2xl:text-6xl text-center">{title}</h1>
            </>
        )
    }
    {
        subtext && (
            <>
                <p class="p-3 w-2/3 text-center 2xl:text-2xl text-gray-600">{subtext}</p>
            </>
        )
    }
    <slot name="b-content" />
</section>
