---
import green from '../assets/images/green.png'
import text_bg from '../assets/images/text_bg.png'
---

<footer class="bg-green-50/50 rounded-lg shadow mb-10">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a
                href="#hero"
                class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
            >
                <img
                    src={green.src}
                    class="h-8"
                    alt="Flowbite Logo"
                />
                <img
                    src={text_bg.src}
                    class="h-5"
                    alt="Flowbite Logo"
                />
            </a>
            <ul
                class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
            >
                <li>
                    <a href="#identity" class="hover:underline me-4 md:me-6">Sobre nosotros</a>
                </li>
                <li>
                    <a href="#contact" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr
            class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span
            class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >© 2024. Todos los derechos reservados.</span
        >
    </div>
