---
import iconWhite from "../assets/images/black.png";
import logoWhite from "../assets/images/text_bg.png";
import iconBlack from "../assets/images/green.png";
import logoBlack from "../assets/images/text_wg.png";
---
<header
        class="fixed top-0 inset-0 h-16 z-50 border-b border-slate-100 bg-white/80 backdrop-blur-lg"
>
    <nav
            class="mx-auto flex max-w-6xl gap-8 px-6 transition-all duration-200 ease-in-out lg:px-12 py-4"
    >
        <div class="relative flex items-center">
            <img
                    src={iconWhite.src}
                    loading="lazy"
                    width="32"
                    class=""
                    height="32"
                    alt="alteris logo"
            />
            <img
                    src={logoWhite.src}
                    loading="lazy"
                    class="object-contain pl-2"
                    width="100"
                    alt="alteris brand"
            />
        </div>
        <ul class="hidden items-center justify-center gap-6 md:flex">
            <li class="pt-1.5 font-dm text-sm font-medium text-slate-700">
                <a href="#identity">Inicio</a>
            </li>
            <li class="pt-1.5 font-dm text-sm font-medium text-slate-700">
                <a href="#">Portafolio</a>
            </li>
            <li class="pt-1.5 font-dm text-sm font-medium text-slate-700">
                <a href="#contact">Contacto</a>
            </li>
        </ul>
        <div class="grow"></div>
        <div class="flex flex-col justify-center ml-3">
            <input
                    type="checkbox"
                    name="light-switch"
                    class="light-switch sr-only"
                    checked={true/*darkMode*/}
            />
            <label class="relative cursor-pointer p-2">
                <svg
                        class={`dark:hidden`}
                        width="16"
                        height="16"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            class="fill-slate-300"
                            d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z"
                    ></path>
                    <path
                            class="fill-slate-400"
                            d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z"></path>
                </svg>
                <svg
                        class={`dark:block hidden `}
                        width="16"
                        height="16"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            class="fill-slate-400"
                            d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z"
                    ></path>
                    <path
                            class="fill-slate-500"
                            d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z"
                    ></path>
                </svg>
                <span class="sr-only">Switch to light / dark version</span>
            </label>
        </div>
        <div class="hidden items-center justify-center gap-6 md:flex">
            <a
                    href="#"
                    class="rounded-md bg-gradient-to-br from-green-600 to-emerald-400 px-3 py-1.5 font-dm text-sm font-medium text-white shadow-md shadow-green-400/50 transition-transform duration-200 ease-in-out hover:scale-[1.03]"
            >Contáctanos
            </a>
        </div>
        <div class="relative flex items-center justify-center md:hidden">
            <button type="button">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="h-6 w-auto text-slate-900"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg
                >
            </button>
        </div>
    </nav>
</header>