:root{
    --black: #000000;
    --green: #00ff00;
    --grayish: #3e4742;
  }

 .container-custom{
    background-color: green;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 480px) {
    .gradient {--size: 100px;}
}

@media (max-width: 640px) {
    .gradient {
        --size: 250px;
        --speed: 5s;
        --easing: cubic-bezier(0.2, 0.2, 0.2, 0.2);

        width: var(--size);
        height: var(--size);
        filter: blur(calc(var(--size) / 5));
        background-image: linear-gradient(hsl(146, 6%, 22%), hsl(149, 78%, 55%), hsl(146, 6%, 22%));
        animation: rotate var(--speed) var(--easing) alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        z-index: -1;
        position: absolute;
    }
}

@media (min-width: 640px) {
    .gradient {
        --size: 500px;
        --speed: 10s;
        --easing: cubic-bezier(0.2, 0.2, 0.2, 0.2);

        width: var(--size);
        height: var(--size);
        filter: blur(calc(var(--size) / 5));
        background-image: linear-gradient(hsl(146, 6%, 22%), hsl(149, 78%, 55%), hsl(146, 6%, 22%));
        animation: rotate var(--speed) var(--easing) alternate infinite;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        z-index: -1;
        position: absolute;
    }
}



body {
    background-color: #eeeeee;
    position: relative;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
}